Repository Pixeltheaertist/Trieste-Port-14, pull requests merged in 2025-05, with the labels that each got.

#169 Jellidatmos
  Resources/Prototypes/Atmospherics/thresholds.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/jellid.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
  Resources/Textures/Structures/Piping/Atmospherics/Portable/jellid_portable_scrubber.rsi/draining.png
  Resources/Textures/Structures/Piping/Atmospherics/Portable/jellid_portable_scrubber.rsi/icon-running.png
  Resources/Textures/Structures/Piping/Atmospherics/Portable/jellid_portable_scrubber.rsi/icon.png
  Resources/Textures/Structures/Piping/Atmospherics/Portable/jellid_portable_scrubber.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/Portable/jellid_portable_scrubber.rsi/unlit-full.png
  Resources/Textures/Structures/Piping/Atmospherics/Portable/jellid_portable_scrubber.rsi/unlit.png
Labels: Changes: No C#, Changes: Sprites

#174 Cargotweaks
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/_TP/WaterInteractions/WaterInteractionSystem.cs
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Locale/en-US/prototypes/catalog/cargo/cargoproduct-categories.ftl
  Resources/Maps/trieste.yml
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/ServerInfo/Guidebook/Engineering/TheArtifact.xml
Labels: Changes: Map

#175 Add jumping
  Content.Server/Falling/fallsystem.cs
  Content.Shared/Movement/Components/JumpAbilityComponent.cs
  Content.Shared/Movement/Components/JumpingComponent.cs
  Content.Shared/Movement/Systems/SharedJumpAbilitySystem.cs
  Content.Shared/TriesteAirspaceComponent.cs
  Resources/Maps/trieste.yml
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: Map

#177 Release build option for rider
  .run/release.run.xml
  release.bat
Labels: Changes: No C#

#178 Release bats, but im actually specific about platforms this time
  .run/releaseTargetLinux.run.xml
  .run/releaseTargetWindows.run.xml
  releaseLinux.bat
  releaseWindows.bat
Labels: Changes: No C#

#180 Delete Release
  .run/release.run.xml
  release.bat
Labels: Changes: No C#
