Repository Pixeltheaertist/Trieste-Port-14, pull requests merged in 2025-04, with the labels that each got.

#143 Adding and changing station jobs.
  Resources/Prototypes/Maps/trieste.yml
Labels: Changes: Map, Changes: No C#

#135 MRP Rules changes
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/_TP/MRPRules/RuleM0.xml
  Resources/ServerInfo/Guidebook/ServerRules/_TP/MRPRules/RuleM10RoleAbandonment.xml
  Resources/ServerInfo/Guidebook/ServerRules/_TP/MRPRules/RuleM11SecCom.xml
  Resources/ServerInfo/Guidebook/ServerRules/_TP/MRPRules/RuleM12PerformRole.xml
  Resources/ServerInfo/Guidebook/ServerRules/_TP/MRPRules/RuleM1DoNotPowergame.xml
  Resources/ServerInfo/Guidebook/ServerRules/_TP/MRPRules/RuleM3Metagame.xml
  Resources/ServerInfo/Guidebook/ServerRules/_TP/MRPRules/RuleM4NormalPerson.xml
  Resources/ServerInfo/Guidebook/ServerRules/_TP/MRPRules/RuleM6.xml
  Resources/ServerInfo/Guidebook/ServerRules/_TP/MRPRules/RuleM8.xml
Labels: documentation, Changes: No C#, YML

#140 Coldplate board
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_TP/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_TP/Entities/Structures/Machines/coldplate.yml
  Resources/Prototypes/_TP/Recipes/Lathes/electronics.yml
Labels: Changes: No C#

#145 Super advanced code stuff sorry you wouldn't understand
  README.md
Labels: bug, documentation, duplicate, enhancement, help wanted, good first issue, invalid, question, wontfix, Changes: Map, Changes: No C#, antagonist, event, game change, holy shit dude, idea, spriting, YML, Sound Design, C#, mapping, Changes: Sprites, confirmed, unconfirmed, Changes: UI, Changes: Shaders, Changes: Audio

#151 Crude Oil Barrel Resprite
  Resources/Textures/_TP/Structures/Storage/Drums.rsi/crude.png
  Resources/Textures/_TP/Structures/Storage/Drums.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#154 Update publish_multi_request.py
  Tools/publish_multi_request.py
Labels: Changes: No C#

#161 3 new weather events
  Content.Server/StationEvents/Components/WeatherChangeRuleComponent.cs
  Content.Server/StationEvents/Events/FlashStormRule.cs
  Content.Server/StationEvents/Events/WeatherChangeRule.cs
  Content.Server/_TP/ThunderSystem.cs
  Content.Shared/LightningMarkerComponent.cs
  Resources/Locale/en-US/TP14Events/FlashStorm.ftl
  Resources/Locale/en-US/TP14Events/WeatherEvents.ftl
  Resources/Prototypes/Entities/Effects/thunder.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/weather.yml
  Resources/Textures/Effects/atmospherics.rsi/nitryl.png
  Resources/Textures/Effects/weather.rsi/clear.png
  Resources/Textures/Effects/weather.rsi/meta.json
  Resources/Textures/Parallaxes/land.png
Labels: Changes: Sprites

#162 caskies patches
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Client/Overlays/StaticViewerHudSystem.cs
  Content.Client/_TP14/WaterInteractions/WaterViewerHudSystem.cs
  Content.Server/Atmos/Components/InGasComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/Nuke/NukeComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/_TP/WaterInteractions/WaterCrushSystem.cs
  Content.Server/_TP/WaterInteractions/WaterInteractionSystem.cs
  Content.Shared/CCVar/CCVars.Atmos.cs
  Content.Shared/Chemistry/Components/SolutionComponent.cs
  Content.Shared/WaterBlockerComponent.cs
  Content.Shared/WaterViewerComponent.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/TP14/GunDrowned.ftl
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/nuke/nuke-component.ftl
  Resources/Locale/en-US/nukeops/war-declarator.ftl
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Locale/en-US/shuttles/emergency.ftl
  Resources/Locale/en-US/store/uplinknt-catalog.ftl
  Resources/Prototypes/Access/syndicate.yml
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/Catalog/uplinknt_catalog.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/misc.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Species/jellid.yml
  Resources/Prototypes/Entities/Objects/Specific/nanotrasen.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
  Resources/ServerInfo/Guidebook/SpaceStation14.xml
  Resources/Textures/Parallaxes/attributions.yml
Labels: Changes: Audio

#164 I hate space dragons
  Resources/Prototypes/threats.yml
Labels: Changes: No C#

#166 Update publish.yml
  .github/workflows/publish.yml
Labels: Changes: No C#
