Repository Pixeltheaertist/Trieste-Port-14, pull requests merged in 2025-02, with the labels that each got.

#68 Roletime tweaks
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Expeditionary/basin_technician.yml
  Resources/Prototypes/Roles/Jobs/Expeditionary/pilot.yml
  Resources/Prototypes/Roles/Jobs/Expeditionary/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: Changes: No C#

#64 fixed a bunch of problems that were causing the map renderer to not work
  Content.Shared/CCVar/CCVars.Replays.cs
  Resources/Maps/trieste.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/MagCell.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/MagCell.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magcell.rsi/a
  Resources/Textures/Objects/Weapons/Guns/Projectiles/explosive_harpoons.rsi/meta.json
Labels: Changes: Map, Changes: Sprites

#58 Pilot now has cargo access
  Resources/Prototypes/Roles/Jobs/Expeditionary/pilot.yml
Labels: Changes: No C#

#54 Removed AME canisters from cargo console
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
Labels: Changes: No C#

#61 Nanotraitor Law Board
  Resources/Locale/en-US/store/uplinknt-catalog.ftl
  Resources/Prototypes/Catalog/uplinknt_catalog.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: Changes: No C#

#49 Removed unecessary boards from harbormaster's locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#

#36 Blacklisting harpoons from pneumatic cannons
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/taco.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: Changes: No C#

#62 changed the seaWater Electrolysis recipe
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: Changes: No C#

#31 Foraging and 2 new foraging plants
  Content.Server/_TP/Forage/ForageComponent.cs
  Content.Server/_TP/Forage/ForageSystem.cs
  Content.Shared/_TP/Forage/ForageVisualsSystem.cs
  Resources/Locale/en-US/_TP/reagents/forage.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_TP/Entities/Markers/Spawners/Random/flora.yml
  Resources/Prototypes/_TP/Entities/Objects/Forage/forage_plant.yml
  Resources/Prototypes/_TP/Reagents/medicine.yml
  Resources/Prototypes/_TP/Recipes/Reactions/medicine.yml
  Resources/Textures/_TP/Objects/Flora/Forage/serpents_mane.rsi/bulb.png
  Resources/Textures/_TP/Objects/Flora/Forage/serpents_mane.rsi/meta.json
  Resources/Textures/_TP/Objects/Flora/Forage/serpents_mane.rsi/plant-regrowing.png
  Resources/Textures/_TP/Objects/Flora/Forage/serpents_mane.rsi/plant.png
  Resources/Textures/_TP/Objects/Flora/Forage/trenchlight_weed.rsi/leaf.png
  Resources/Textures/_TP/Objects/Flora/Forage/trenchlight_weed.rsi/meta.json
  Resources/Textures/_TP/Objects/Flora/Forage/trenchlight_weed.rsi/plant-regrowing.png
  Resources/Textures/_TP/Objects/Flora/Forage/trenchlight_weed.rsi/plant.png
Labels: Changes: Sprites

#80 Adds Chemist Roundstart
  Resources/Prototypes/Maps/trieste.yml
Labels: Changes: Map, Changes: No C#

#77 Crew to citizen
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS8DefaultCrewDefinition.xml
Labels: Changes: No C#

#81 Update README.md
  README.md
Labels: Changes: No C#

#82 Exped Fixes and Slight Changes
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Maps/trieste.yml
  Resources/Prototypes/Roles/Jobs/Expeditionary/basin_technician.yml
  Resources/Prototypes/Roles/Jobs/Expeditionary/pilot.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: Map, Changes: No C#

#89 adds atmos techs, tweaks job quantity
  Resources/Prototypes/Maps/trieste.yml
Labels: Changes: Map, Changes: No C#

#99 First test for atmospheric flight
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Station/Components/StationBiomeComponent.cs
  Content.Server/_TP/Shuttles/AirFlyingComponent.cs
  Content.Server/_TP/Shuttles/AtmosphericThrusterComponent.cs
  Content.Server/_TP/Shuttles/ShuttleFallSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Resources/Maps/Misc/ocean.yml
  Resources/Maps/trieste.yml
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Species/vox.yml
Labels: Changes: Map

#100 The trench
  Content.Server/Atmos/Components/InGasComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/EntitySystems/InGasSystem.cs
  Content.Server/_TP/WaterInteractions/AbyssalSuitSystem.cs
  Content.Server/_TP/WaterInteractions/WaterCrushSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Bell/TrenchPlatformComponent.cs
  Content.Shared/_TP/WaterInteractions/AbyssalProtectedComponent.cs
  Content.Shared/_TP/WaterInteractions/AbyssalSuitComponent.cs
  Resources/Locale/en-US/TP14Events/abyssalsuit.ftl
  Resources/Maps/Shuttles/trenchBell.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Markers/atmos_blocker.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Head/Hardsuits/abyssal.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/abyssal.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/abyssal.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/abyssal.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/abyssal.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/abyssal.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/abyssal.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/abyssal.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/abyssal.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/abyssal.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/abyssal.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/abyssal.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/abyssal.rsi/meta.json
Labels: Changes: Map, Changes: Sprites

#95 changed the water atmos fix marker to use the water marker texture
  Resources/Prototypes/Entities/Markers/atmos_blocker.yml
Labels: Changes: No C#

#91 reduced trident ammo to 1, since its infinite regardless
  Resources/Prototypes/Entities/Objects/Weapons/Melee/trident.yml
Labels: Changes: No C#

#102 new sprites for inside markers
  Resources/Prototypes/Entities/Markers/Spawners/debug.yml
  Resources/Textures/Markers/inside.rsi/default.png
  Resources/Textures/Markers/inside.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#96 Server Rules changes
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/MRPRules/RuleM2Metagame.xml
Labels: Changes: No C#

#98 Updated Salvage Guidebook: Spationaut to Aquanaut
  Resources/ServerInfo/Guidebook/Cargo/Salvage.xml
Labels: Changes: No C#

#105 Fixmergestuffffsss
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: Changes: Map, Changes: Sprites

#108 Fixed denature temp
  Resources/Prototypes/Recipes/Reactions/single_reagent.yml
Labels: Changes: No C#

#110 Fixed Rules
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/MRPRules/RuleM3Metagame.xml
  Resources/ServerInfo/Guidebook/ServerRules/MRPRules/RuleM6.xml
  Resources/ServerInfo/Guidebook/ServerRules/MRPRules/RuleM8.xml
Labels: Changes: No C#

#111 eva softsuit resprite pt1
  Resources/Textures/Clothing/Head/Helmets/eva.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/eva.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/eva.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/eva.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/eva.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/eva_large.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/eva_large.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/eva_large.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/eva_large.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/eva_large.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva_syndicate.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#116 Vox Sprites for Abyssal Hardsuit
  Resources/Textures/Clothing/Head/Hardsuits/abyssal.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/abyssal.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/abyssal.rsi/equipped-OUTERCLOTHING-vox.png
Labels: Changes: No C#, Changes: Sprites

#109 Created new SVG versions of the logos, and updated the icon files.
  Resources/Textures/Logo/attributions.txt
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-192x192.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-512x512.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/icon/icon-96x96.png
  Resources/Textures/Logo/icon/icon.svg
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
Labels: Changes: No C#

#112 Basic Oil Implementation
  Content.Server/_TP/Oil/OilProductionComponent.cs
  Content.Server/_TP/Oil/OilProductionSystem.cs
  Content.Shared/_TP/Oil/FitsInPumpjackComponent.cs
  Content.Shared/_TP/Oil/SharedPumpjack.cs
  Resources/Locale/en-US/reagents/meta/chemicals.ftl
  Resources/Prototypes/_TP/Entities/Objects/Oil/oil_drum.yml
  Resources/Prototypes/_TP/Entities/Structures/Machines/pumpjack.yml
  Resources/Prototypes/_TP/Reagents/chemicals.yml
  Resources/Textures/_TP/Structures/Machines/pumpjack.rsi/meta.json
  Resources/Textures/_TP/Structures/Machines/pumpjack.rsi/pumpjack.png
  Resources/Textures/_TP/Structures/Storage/Drums.rsi/crude.png
  Resources/Textures/_TP/Structures/Storage/Drums.rsi/meta.json
Labels: Changes: Sprites

#114 Coldplate + denature chemmaster bug fix
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Resources/Prototypes/_TP/Entities/Structures/Machines/coldplate.yml
  Resources/Textures/_TP/Structures/Machines/coldplate.rsi/beaker.png
  Resources/Textures/_TP/Structures/Machines/coldplate.rsi/icon.png
  Resources/Textures/_TP/Structures/Machines/coldplate.rsi/meta.json
  Resources/Textures/_TP/Structures/Machines/coldplate.rsi/on.png
Labels: Changes: Sprites
